In [2]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [3]:
dt = pd.read_csv('..\data\\15.eq_building_damage.csv')

In [4]:
dt

,Unnamed: 0,struct_typ,occ_type,year_built,no_stories,magnitude,distance,meandamage
0,0,URM,RES1,1946,1.0,5,8.758655,0.13637
1,1,W1,COM1,1946,1.0,5,8.750071,0.13302
2,2,URM,RES1,19830429,1.0,5,8.761617,0.18070
3,3,URM,RES1,1954,1.0,5,8.767489,0.14398
4,4,URM,RES1,19821126,1.0,5,8.764526,0.17911
...,...,...,...,...,...,...,...,...
11087,11766,S1,COM2,20050503,2.0,5,8.783250,0.09335
11088,11767,S1,COM8,20030828,2.0,5,8.720425,0.07537
11089,11768,C4,RES1,20010913,2.0,5,8.882139,0.21389
11090,11769,S1,COM2,19950913,1.0,5,8.909023,0.10686
11091,11770,S1,COM2,20080819,1.0,5,8.724296,0.11963

In [5]:
dt = dt.drop('Unnamed: 0',axis = 1)

NameError: name 'dt' is not defined